* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family:'Arvo', serif;
}
@mixin title($size, $weight, $align) {
    font-size: $size;
    font-weight: $weight;
    text-align: $align;
}
@mixin text($top, $size, $color, $align) {
    margin-top: $top;
    font-size: $size;
    color: $color;
    text-align: $align;
}
%imag{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 370px;
    .overlay{
        background: #ffffff7e;
        opacity: 0;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        -webkit-transition: all .3s ease ;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        &:hover{
            opacity: 1;
        }
        .material-icons{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
        }
    }
}
%textright{
    grid-area: container--tittle1;
    border-top: 2px solid black;
    padding: 40px 50px 0px 0px;
    h3{@include title (25px, 400, left)}
    p{@include text(20px, 12px, gray, justify)}
}
%textleft{
    grid-area: container--tittle1;
    border-top: 2px solid black;
    padding: 40px 0px 0px 50px;
    h3{@include title (25px, 400, end);}
    p{@include text(20px, 12px, gray, justify)}
}
%transition{
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.material-icons{
    font-size:48px;
}
.imagen-modal{
    max-width: 70%;
    max-height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .6s ease;
    -o-transition: opacity .6s ease;
    transition: opacity .6s ease;
    z-index: 0;
}
.iconCerrar{
    color: white;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 3rem;
    border-radius: 50%;
    cursor: pointer;
}
body{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}
header {grid-area: header;}
main {
    grid-area: main;
    display: grid;
    justify-items: center;
    padding: 100px 0px;
    .container--gallery{
        display: grid;
        max-width: 1800px;
        width: 80%;
        grid-gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        "img--briefcase1 img--briefcase1 container--tittle1 ."
        "img--briefcase1 img--briefcase1 img--briefcase2 container--tittle2"
        "container--tittle3 img--briefcase3 img--briefcase4 img--briefcase4"
        ". container--tittle4 img--briefcase4 img--briefcase4"
        "container--tittle5 img--briefcase5 img--briefcase6 container--tittle6";
    }
    .img--briefcase1 {
        grid-area: img--briefcase1;
        @extend %imag;
        background-image: url('../assets/img/Mesa de trabajo 2.png');
    }
    .container--tittle1 {
        grid-area: container--tittle1;
        @extend %textright;
    }
    .img--briefcase2 {
        grid-area: img--briefcase2;
        @extend %imag;
        background-image: url('../assets/img/Mesa de trabajo 1.png');
    }
    .container--tittle2 {
        grid-area: container--tittle2;
        @extend %textright;
    }
    .img--briefcase3 {
        grid-area: img--briefcase3;
        @extend %imag;
        background-image: url('../assets/img/Mesa de trabajo 3.png');
    }
    .container--tittle3 {
        grid-area: container--tittle3;
        @extend %textleft;
    }
    .img--briefcase4 {
        grid-area: img--briefcase4;
        @extend %imag;
        background-image: url('../assets/img/Mesa de trabajo 4.png');
    }
    .container--tittle4 {
        grid-area: container--tittle4;
        @extend %textleft;
    }
    .img--briefcase5 {
        grid-area: img--briefcase5;
        @extend %imag;
        background-image: url('../assets/img/Mesa de trabajo 6.png');
    }
    .container--tittle5 {
        grid-area: container--tittle5;
        @extend %textleft;
    }
    .img--briefcase6 {
        grid-area: img--briefcase6;
        @extend %imag;
        background-image: url('../assets/img/Mesa de trabajo 5.png');
    }
    .container--tittle6 {
        grid-area: container--tittle6;
        @extend %textright;
    }
}
footer {grid-area: footer;}



@media all and (max-width:1900px){
    main .container--gallery{
        width: 90%;
        -webkit-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }
}
@media all and (max-width:1640px){
    main .container--gallery{
        grid-gap: 25px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "img--briefcase1 img--briefcase1 container--tittle1"
        "img--briefcase1 img--briefcase1 img--briefcase2"
        "container--tittle3 img--briefcase3 container--tittle2"
        "container--tittle4 img--briefcase4 img--briefcase4"
        "img--briefcase5 img--briefcase4 img--briefcase4"
        "container--tittle5  img--briefcase6 container--tittle6";
    }
}
@media all and (max-width:1090px){
    main {
        .container--gallery{
        grid-gap: 20px; }
    }
    main .img--briefcase6, main .img--briefcase5, main .img--briefcase4, main .img--briefcase3, main .img--briefcase2, main .img--briefcase1{
        min-height: 280px;
    }
}
@media all and (max-width:840px){
    main .img--briefcase6, main .img--briefcase5, main .img--briefcase4, main .img--briefcase3, main .img--briefcase2, main .img--briefcase1{
        min-height: 200px;
    }
}
@media all and (max-width:780px){
    main .container--gallery{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: 
        "img--briefcase1 img--briefcase1"
        "img--briefcase1 img--briefcase1"
        "container--tittle1 container--tittle1"
        "img--briefcase2 container--tittle2"
        "container--tittle3 img--briefcase3"
        "img--briefcase4 img--briefcase4"
        "img--briefcase4 img--briefcase4"
        "container--tittle4 container--tittle4"
        "container--tittle5 img--briefcase5"
        "img--briefcase6 container--tittle6 "
    }
    main .img--briefcase6, main .img--briefcase5, main .img--briefcase4, main .img--briefcase3, main .img--briefcase2, main .img--briefcase1{
        min-height: 150px;
    }
}
